[Desktop Entry]
Name=rubicon
Exec=webapp-container --webappUrlPatterns=https?://www.rubikon.news//* https://www.rubikon.news/
Icon=logo.svg
Terminal=false
Type=Application
X-Ubuntu-Touch=true
